/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html{
    background-color: aqua;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
}

/* /COMMON */

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER */

header{
    width: 100%;
    height: 30px;

    /* TEST */
    background-color: bisque;
}

.header-buttons{
    display:flex ;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: 10px;

    /* TEST */
     
}

.speaker-view-btn{  
  display: inline-block;
   /* TEST */
   background-color: aqua;
   
}

.resize-screen-btn{

    /* TEST */
    background-color: blue;
}


/* /HEADER */

/* MAIN */

main{
    height: calc(100vh - 130px);
    width: 80%;
    margin: 0 auto;

    /* TEST */
    background-color: rgba(255, 0, 0, 0.295);
}

.user{
    height: 100px;
    width: 180px;
    position: relative;
    

    /* TEST */
    background-color: cadetblue;
}

img{
    height: 100%;
    
}

.user-info{
    position: absolute;
    left: 0;
    bottom: 0;

    /* TEST */
    background-color: yellow;
}

/* /MAIN */

/* FOOTER */

footer{
    width: 100%;
    height: 100px;
    background-color: #222222;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* common nav */
.footer-nav .icon>i{
    font-size: 2.5em;
}

.icon{
    position: relative;
    color: white;
    width: 80px;
    margin: 0 5px;
}

.menu-arrow{
    position: absolute;
    right: 0;
    top: 20px; 
    padding-right: 20px;
}

.icon-green>i{
    color: green;
}

/* right button */
.button-right{
    height: 100px;
    line-height: 100px;
    padding: 0 30px;
    background-color: #4a4a4a
}

.button-right>span{
    color: red;
}

/* /FOOTER */